@import "compass";

@font-face {
    font-family: "SF Cosmic Age";
    src: url(font/SFCosmicAge.otf);
}
@font-face {
    font-family: "Oswald";
    src: url(font/Oswald.otf);
}
@font-face {
    font-family: "Open Sans";
    src: url(font/OpenSans-Light.ttf);
    src: url(font/OpenSans-Light.otf);
}

//@import url(http://fonts.googleapis.com/css?family=Open+Sans);
// @import url(http://fonts.googleapis.com/css?family=Oswald);

$color-triangle : #FACC2E;
$blanc : #bbb;
$noir : #222;
$bleu_fonce : #25645d;
$bleu_clair : #008cba;

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

.animate-show {
	margin-bottom: 20px;
}

.myApp {
	min-height: 310px;
	padding: 10px;
	max-width: 500px;
	margin: 0 auto;

	h1 {
		text-align: center;
	}

	input {
		max-width: 300px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	input[name=pseudo] {
		max-width: 300px;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.the_data {
		margin-top: 20px;
	}

	.center {
		margin: 0 auto;
		text-align: center;
	}
}

/*
*	GENERAL
*/

html {
	overflow-x : hidden;
}

body {
	margin: 0;
	padding: 0;
	background-color: $noir;
	color: $blanc;
	font-family: "Open Sans";
	font-size: em(14);
}

p {
	font-size: em(16);
}

h1, h2 {
	color: $bleu_fonce;
	font-family: "Oswald";
}
ul li {
	list-style: none;
	font-size: em(14);
}

::-webkit-scrollbar-button {
	background-color: black;
}

*::selection {
	background-color: black;
	color: $blanc;
}

#navigation {
	height: 200px;
}

.logo_mobile {
	display: none;
}

.menu {
	width: 900px;
	margin: 0 auto;
	position: relative;

	li {
		display: inline-block;
		position: relative;
		top: 30px;

		.link-nav {
			display: block;
			color: $blanc;
			font-weight: normal;
			font-family: "SF Cosmic Age";
			font-size: em(24);
			text-transform: lowercase;

			&.active {
				padding: 5px;
				border: solid 1px white;
			}
		}
	}

	.logo {
		top: 0;
		margin: 5px 20px 0 20px;
	}
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;

	h1 {
		text-align: center;
	}
}

footer {
	border-top: solid 1px white;
	padding: 20px;
	box-sizing: border-box;

	div {
		display: inline-block;
		vertical-align: top;
		width: 20%;

		&.separator {
			width: 58%;
		}

		&.footer-contact {
			text-align: right;
		}
	}
}

/*
*	HOME
*/

.bloc {
	padding: 10px;
	background-color: #333;
	height: 500px;

	h2, div {
		text-align: center;
	}
	p {
		text-align: justify;
	}
}

canvas {
	z-index: -1;
}

.bloc-one {
	text-align: center;
	width: 100%;
	background-color: #333;
	height: 130px;
	color: black;
	padding: 0;
	position: relative;
	z-index: 1;

	.index {
		z-index: 5;
	}

	p {
		text-align: center;
	}
}

.row {
	max-width: 100%;
	margin: 10px 0;
}

.blur {
	@include transition(0.4s);
	opacity: 0.5;
}

.no-blur {
	@include transition(0.4s);
	opacity: 1;
}

.graphic {
	border-left: solid black 1px;
	padding-left: 3px;

	.li-graphic-percent {
		margin-left: 100px;

		.graphic-percent {
			display: inline-block;
			width: 50px;
		}
	}

	.graphic-name {
		display: inline-block;
		width: 75px;
		vertical-align: top;
	}
	.graphic-bar {
		@include transition(0.6s);
		height: 20px;
		background-color: #008cba;
		width: 0px;
		display: inline-block;
	}
}

.img-projet {
	margin-bottom: 10px;
	display: block;
	text-align: center;
}

.last_project_home {
	margin-bottom: 10px;
	display: block;
	text-align: center;

	img {
		max-height: 200px;
		max-width: 200px;
	}
}



.logo_svg {
	width: 26px;
    height: 49px;	
}

.logo_npm {
	width: 26px;
    height: 49px;

    path {
    	fill: $blanc;
    }
}

.outer-ring {
	fill: $blanc;
}
.inner-box {
	fill: $blanc;
}

.socials {
	margin: 0;
	margin-bottom: 20px;
	text-align: center;
	padding: 0;

	li {
		display: inline-block;
		margin-left: 10px;
		cursor: pointer;


			&.codepen, &.npm {
				position: relative;
				top: 7px;

				svg {
					position: relative;
					top: 2px;
				}
			}

		a {
			@include transition(0.4s);
			display: block;
			text-align: center;
			color: $blanc;
			background-color: grey;
			padding: 0 14px;
			@include border-radius(50px);
		}
	}
	li:first-child {
		margin-left: 0;
	}
}

.mail {
	display: block;
	width: 62px;
	margin: 0 auto;
}

.myCV {
	padding: 5px;
	border: solid 1px $blanc;
	margin: 0 auto;
	width: 100px;
	cursor: pointer;
	display: block;
}

.download_CV {
	display: block;
	text-align: center;
	margin-top: 10px;
}

.like, .dislike {
	width: 44%;
	display: inline-block;
	vertical-align: top;
}

.txt-cheat-code {
	color: lighten(#240B3B, 20%);
}

.cheat-code {
	width: 250px;
	height: 80px;
	margin: 0 auto;
	margin-top: 10px;

	.cheat {
		width: 35px;
		height: 35px;
		@include border-radius(50px);
		background-color: #F4FA58;
		display: inline-block;
		vertical-align: top;
		color: black;

		div {
			width: 0;
			height: 0;
			border-style: solid;
		}
	}

	.cheat-1 {
		div {
			border-width: 0px 12px 20px 12px;
			border-color: transparent transparent $color-triangle transparent;
			margin: 6px;
		}
	}
	.cheat-2 {
		div {
			border-width: 20px 12px 0 12px;
			border-color: $color-triangle transparent transparent transparent;
			margin: 8px 6px;
		}
	}
	.cheat-3 {
		div {
			border-width: 12px 0px 12px 20px;
			border-color: transparent transparent transparent $color-triangle;
			margin: 6px 10px;
		}
	}
	.cheat-4 {
		div {
			border-width: 12px 20px 12px 0;
			border-color: transparent $color-triangle transparent transparent;
			margin: 6px 5px;
		}
	}

	.cheat-a {
		background-color: #2E64FE;
		font-size: em(23);
	}
	.cheat-b {
		background-color: #04B45F;
		font-size: em(23);
	}
}

.warp-zone {
	z-index: 2000;
	background-color: black;
	color: white;
	position: fixed;
	top: 0;
	display: none;
	overflow: hidden;

	h1 {
		text-align: center;
		margin-top: 7%;
		margin-bottom: 2%;
	}

	img {
		display: block;
		text-align: center;
		width: 600px;
		margin: 0 auto;
	}

	video {
		position: fixed; 
		right: 0; 
		bottom: 0;
		min-width: 100%; 
		min-height: 100%;
		width: auto; 
		height: auto; 
		z-index: -100;
		background: url(img/prev.png) no-repeat;
		background-size: cover;
	}
}

/*********************/
/* 		 BLOG    	 */
/*********************/

.blog {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #333;
	padding: 5px;
	margin-bottom: 50px;

	h1 {
		text-align: center;
		margin-bottom: 50px;
	}
}

.article {
	padding: 12px;
	border: solid 1px $blanc;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 30px;
}
.cover {
	display: inline-block;
	width: 200px;
	vertical-align: top;

	img {
		max-width: 100%;
	}
}

.article-preview {
	display: inline-block;
	max-width: 700px;
	position: relative;

	h2 {
		margin-top: 0;
	}
}

.article-page {
	padding: 5px;
	max-width: 600px;
	p  {
		width: 90%;
		text-align: justify;
	}

	ul {
		width: 90%;
		margin-top: 15px;

		li {
			//list-style: square;
			margin-left: 15px;

			ul {
				margin-top: 0;
			}
		}
	}

	.date {
		text-align: right;
		display: block;
		margin-bottom: 15px;
	}

	pre {
		margin: 15px 0 !important;
	}
}

.btn_article {
	@include transition(0.4s);
	text-align: center;
	display: block;
	background-color: white;
	position: relative;
	border: none;
	padding: 10px 15px;
	font-size: em(16);
	box-sizing: border-box;
}

.right {
	text-align: right;
}
.div-contact {
	position: relative;
	margin-bottom: 50px;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	background-color: #333;
	padding: 30px;
	box-sizing: border-box;
	margin-bottom: 50px;
}
.infos-contact {
	color: black;
	font-family: "Oswald";
	font-size: em(20);
}
.call {
	display: none;
}

.style-input {
	width: 100%;
	margin: 0 auto;

	&.style-submit {
		text-align: center;
		margin-top: 25px;
	}

	input[type=text], input[type=email], textarea {
		background-color: lighten(rgb(150,150,150), 15%);
		background-color: lighten(rgba(150,150,150, 0.7), 15%);
		color: white;
		border: none;
		font-family: "Oswald";
	}
	
	label {
		display: block;
		width: 100px;
		cursor: text;
		font-size: em(18);
		color: $bleu_fonce;
		margin-bottom: 5px;
	}

	input[type=submit] {
		@include transition(0.4s);
		background-color: $noir;
		font-family: "Oswald";
		color: $blanc;
		border: solid 1px $noir;
		cursor: pointer;
		text-transform: uppercase;
		padding: 20px 45px;
		font-size: em(20);

		&:hover {
			background-color: $blanc;
			color: $noir;
		}
	}
	textarea {
		resize: none;
		height: 120px;
	}	
}

/**************************************/
/*				SKILLS  			  */
/**************************************/

.txt_skill {
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}

.all_skills {
	text-align: center;
	margin-bottom: 40px;

	.skill {
		display: inline-block;
		vertical-align: top;
		width: 40%;
		margin-top: 40px;
	}
}


/**************************************/
/*				PROJETS 			  */
/**************************************/

.projects {
	width: 90%;
	margin: 0 auto;
}
.project {
	display: none;
	margin-top: 20px;
	position: relative;
	left: -1000px;
}

.timeline {
	width: 100%;
	margin: 0 auto;
	max-height: 140px;
	overflow: hidden;
	padding-top: 60px;
	margin-top: -60px;
	margin-bottom: 50px;
}

.timeline-circle {
	@include transition(0.4s);
	width: 70px;
	height: 70px;
	background-color: $noir;
	display: inline-block;
	position: relative;
	vertical-align: top;
	cursor: pointer;
	left: 0;
	margin-bottom: 50px;

	&.circle_active {
		img {
			box-shadow: 5px 5px 13px 3px black;
		}
	}

	img {
		@include transition(0.4s);
		@include border-radius(50px);
		max-width: 70px;
	}

	.bubble {
		@include transition(0.4s);
		position: absolute;
		top: -56px;
		left: -40px;
		width: 150px;
		background-color: rgb(22,22,22);
		background-color: rgba(22,22,22, 0.6);
		padding: 5px;
		@include border-radius(6px);
		display: none;
		text-align: center;
	}
}

.timeline-line {
	width: 7%;
	height: 3px;
	background-color: $blanc;
	display: inline-block;
	vertical-align: -20px;
	position: relative;

	.timeline-date {
		position: absolute;
		height: 20px;
		width: 4px;
		background-color: white;
		top: -10px;

		span.date {
			position: absolute;
			top: -27px;
			left: 0px;
		}
	}
}

.all-projects {
	margin-bottom: 50px;
}

.project-picture {
	vertical-align: top;
	display: inline-block;
	width: 315px;

	img {
		max-width: 300px;
	}
}

.project-content {
	vertical-align: top;
	display: inline-block;
	width: 500px;

	.project-description {
		text-align: justify;
	}
}

.next {
	float: left;
	cursor: pointer;
}
.previous {
	float: right;
	cursor: pointer;
}

/*
* 
* ABOUT */

$width_bloc : 150px;
.type-about {
	display: inline-block;
}

.w {
	margin-bottom: 50px;
	width: $width_bloc*5;
	height: $width_bloc*6;
	margin: 0 auto;
	position:relative;
}

.bloc-about {
	display: block;
	cursor: pointer;
	z-index: 0;
	width: $width_bloc;
	height: $width_bloc;
	position: absolute;
	@include transition(0.4s);
	left:0px;
	@include rotate(45deg);
	opacity: 0.3;

	div {
		@include transition(0.4s);
		display: block;
		text-align: center;
		padding-top: 20px;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-image: none;
	}

	&.bloc-about-selected {
		opacity: 1;

		&:hover {
			z-index: 2;

			div {
				@include transition(0.4s);
				display: block;
				text-align: center;
				padding-top: 20px;
				width: 100%;
				height: 100%;
		
				// Straight classes
				&.x_plus_150 {
					background-position-x : 150px;
					background-position-y : -150px;
				}
				&.x_moins_150 {
					background-position-x : -150px;
					background-position-y : 150px;
				}
				&.y_plus_150 {
					background-position-y : 150px;
					background-position-x : 150px;
				}
				&.y_moins_150 {
					background-position-y : -150px;
					background-position-x : -150px;
				}

				// Diagonales classes

				&.xy_moins_150 {
					background-position-y : -150px;
				}
				&.xy_plus_150 {
					background-position-x : 150px;
				}
				&.yx_moins_150 {
					background-position-y : 150px;
				}
				&.yx_plus_150 {
					background-position-x : -150px;
				}

				// Individual classes

				&.bloc-onepiece {
					background-image : url('../img/about/onepiece.jpg');
				}
				&.bloc-kenshin {
					background-image : url('../img/about/kenshin.jpg');
				}
				&.bloc-deathnote {
					background-image : url('../img/about/deathnote.jpg');
				}
				&.bloc-eyeshield {
					background-image : url('../img/about/eyeshield.jpg');
				}
				&.bloc-toriko {
					background-image : url('../img/about/toriko.jpg');
				}
				&.bloc-asterix {
					background-image : url('../img/about/asterix.jpg');
				}
				&.bloc-irobot {
					background-image : url('../img/about/irobot.jpg');
				}
				&.bloc-meninblack {
					background-image : url('../img/about/mib.jpg');
				}
				&.bloc-vendetta {
					background-image : url('../img/about/v.jpg');
				}
				&.bloc-disiz {
					background-image : url('../img/about/disiz.jpg');
				}
				&.bloc-orelsan {
					background-image : url('../img/about/orelsan.jpg');
				}
				&.bloc-tryo {
					background-image : url('../img/about/tryo.jpg');
				}
				&.bloc-eminem {
					background-image : url('../img/about/smackthat.jpg');
				}
				&.bloc-erb {
					background-image : url('../img/about/erb.jpg');
				}
				&.bloc-zelda {
					background-image : url('../img/about/zelda.jpg');
				}
				&.bloc-metroid {
					background-image : url('../img/about/metroid.jpg');
				}
				&.bloc-pokemon {
					background-image : url('../img/about/pokemon.jpg');
				}
				&.bloc-infamous {
					background-image : url('../img/about/infamous.jpg');
				}

				span {
					display: none;
				}
			}
			img {
				display: block;
			}
		}	
	}

	
}

.menu_mobile {
	display: none;
	text-align: center;
	background-color: black;
	margin: 0;
	padding : 15px 0;
	position: fixed;
	width: 100%;
	z-index: 15;
	cursor: pointer;

	.div_menu {
		text-transform: uppercase;
		font-size: em(16);
	}

	.traits_menu {
		width: 33px;
		height: 50px;
		position: absolute;
		top: 6px;
		right: 15px;
		font-size: em(23);

		span {
			width: 100%;
			height: 3px;
			background-color: white;
			margin-top: 7px;
			display: block;
		}
	}

	ul {
		margin: 0;

		li {
			a {
				display: block;
				padding: 10px 0px;

				&:hover {
					color: $blanc;
					background-color: $noir;
				}
			}
		}
	}
}

@media only screen and (max-width: 1000px) {

	.txt-cheat-code, .cheat-code {
		display: none;
	}

	.bloc {
		height: auto;

		&:first-child {
			margin-top: 30px;
		}
	}
}

@media only screen and (max-width: 600px) {

 	.menu {
		display: none;
	}
	.menu_mobile {
		display: block;
	}
	#navigation {
		height: 70px;
	}
	.logo_mobile {
		display: block;
		margin: 20px 0;
		text-align: center;
	}
	canvas {
		display: none;
	}
	.bloc-one {
		background: none;
	}

	/*
	*	BLOG
	*/

	.article-preview {
		p {
			display: none;
		}
	}

	.cover {
		display: inline-block;
		width: 150px;
		vertical-align: top;
	}

	.all_skills .skill {
		display: block;
		width: 80%;
	}

	/*
	*	CONTACT
	*/

	.div-contact {
		width: 90%;
	}
	.infos-contact-tel {
		display: none;
	}
	.call {
		display: block;
	}

	/*
	*	FOOTER
	*/	

	footer {
		div {
			display: inline-block;
			vertical-align: top;
			width: 100%;

			&.separator {
				width: 0%;
			}
		}
	}
}

@media only screen and (max-width: 550px) {

	.index {
		p {
			display: none;
		}
	}
	.graphic {
		padding-left: 10px;
		border: none;

		.li-graphic-percent {
			margin-left: 0;
		}

		.graphic-bar {
			display: block;
		}
		.graphic-name {
			margin-left: -33px;
  			text-align: left;
		}
	}

	/*
	*	PROJETS
	*/

	.project-description {
		max-width: 250px;
	}

	.project-picture {

		img {
			max-width: 180px;
		}
	}

	.previous, .next {
		display: none;
	}

	.timeline {
	  max-height: none;

	  .timeline-circle {
	  	display: block;
	  	width: 150px;
	  	height: 150px;
	  	margin: 0 auto;
  		margin-bottom: 50px;

	  	img {
	  		max-width: 150px;
	  		@include border-radius(0px);
	  	}
	  }
	  .bubble {
	  	display: block;
	  	position: relative;
	  	top: 0px;
	  	left: 0px;
	  }

	  .timeline-line {
	  	display: none;
	  }
	}
}

@media only screen and (min-width: 1000px) {

	.socials {
		li {
			a {
				&:hover {
					@include transition(0.4s);
					@include rotate(360deg);
				}
			}
		}
		.twitter a:hover {
			background-color: #55acee;
		}
		.linkedin a:hover {
			background-color: #1c6ca2;
		}
		.github a:hover {
			background-color: black;
		}

		.codepen a:hover {
			background-color: black;
		}

		.npm a:hover {
			background-color: #cb3837;
		}
	}

	.menu {
		li {
			.link-nav {
				&:hover {
					&:before, &:after {
						opacity: 1;
						-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
						-moz-transform: translateX(-50%) translateY(-50%) scale(1);
						transform: translateX(-50%) translateY(-50%) scale(1);
					}
				}
			}
		}
	}

	.btn_article {
		&:hover {
			@include transition(0.4s);
			background : #0078a0;
			color: white;
		}
	}

	.style-input {
		input[type=submit] {
			&:hover {
				@include transition(0.4s);
				background : $blanc;
				color: $noir;
			}
		}
	}

	.timeline-circle {
		box-sizing: border-box;
		&:hover {
			@include transition(0.4s);
			
			img {
				box-shadow: 5px 5px 13px 3px black;
			}

			.bubble {
				display: block;
			}
		}
	}

} /* END MEDIA QUERY */


.cbutton {
	position: relative;
	display: inline-block;
	margin: 1em;
	padding: 0;
	border: none;
	background: none;
	color: #286aab;
	font-size: 1.4em;
	overflow: visible;
	-webkit-transition: color 0.7s;
	transition: color 0.7s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	&:after {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -35px 0 0 -35px;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		content: '';
		opacity: 0;
		pointer-events: none;
	}

	&:before, &:after {
		border: 4px solid rgba(111,148,182,0.2);
	}
	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -35px 0 0 -35px;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		opacity: 0;
		pointer-events: none;
	}

	&.cbutton--click {
		&:before, &:after {
			-webkit-animation-duration: 8s, 2s;
			animation-duration: 8s, 2s;
			-webkit-animation-iteration-count: infinite, infinite;
			animation-iteration-count: infinite, infinite;
			-webkit-animation-timing-function: ease, linear;
			animation-timing-function: ease, linear;
			-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
		}
		&:before {
			-webkit-animation-name: anim-effect-milan-3, anim-effect-milan-2;
			animation-name: anim-effect-milan-3, anim-effect-milan-2;
		}
		&:after {
			-webkit-animation-name: anim-effect-milan-3, anim-effect-milan-1;
			animation-name: anim-effect-milan-3, anim-effect-milan-1;
		}
	}
}

@-webkit-keyframes anim-effect-milan-1 {
	0% {
		-webkit-transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);
		transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);
	}
	100% {
		-webkit-transform: perspective(1000px) rotate3d(1, 1, 1, 360deg);
		transform: perspective(1000px) rotate3d(1, 1, 1, 360deg);
	}
}

@keyframes anim-effect-milan-1 {
	0% {
		-webkit-transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);
		transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);
	}
	100% {
		-webkit-transform: perspective(1000px) rotate3d(1, 1, 1, 360deg);
		transform: perspective(1000px) rotate3d(1, 1, 1, 360deg);
	}
}

@-webkit-keyframes anim-effect-milan-2 {
	0% {
		-webkit-transform: perspective(1000px) rotate3d(-1, -1, -1, 0deg);
		transform: perspective(1000px) rotate3d(-1, -1, -1, 0deg);
	}
	100% {
		-webkit-transform: perspective(1000px) rotate3d(-1, -1, -1, 360deg);
		transform: perspective(1000px) rotate3d(-1, -1, -1, 360deg);
	}
}

@keyframes anim-effect-milan-2 {
	0% {
		-webkit-transform: perspective(1000px) rotate3d(1, -1, 1, 0deg);
		transform: perspective(1000px) rotate3d(1, -1, 1, 0deg);
	}
	100% {
		-webkit-transform: perspective(1000px) rotate3d(1, -1, 1, 360deg);
		transform: perspective(1000px) rotate3d(1, -1, 1, 360deg);
	}
}

@-webkit-keyframes anim-effect-milan-3 {
	0%, 100% {
		opacity: 0;
	}
	25%, 75% {
		opacity: 1;
	}
}

@keyframes anim-effect-milan-3 {
	0%, 100% {
		opacity: 0;
	}
	25%, 75% {
		opacity: 1;
	}
}

.theclip {
  -webkit-clip-path: polygon(100% 50%,84.70057014808336% 54.5684167277018%,91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%);
  -webkit-animation: "clip" 1s infinite;
}
@-webkit-keyframes "clip" {
  0% {
    -webkit-clip-path: polygon(100% 50%,84.70057014808336% 54.5684167277018%,91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%);
  }
  50% {
    -webkit-clip-path: polygon(84.70057014808336% 54.5684167277018%,91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%,100% 50%);
  }
  100% {
    -webkit-clip-path: polygon(91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%,100% 50%,84.70057014808336% 54.5684167277018%);
  }
}
